One advantage of using Python vs Tableau is that the data pre-processing is much easier.

In [ ]:
# need pandas and openpyxl

In [ ]:
import pandas as pd

In [ ]:
a = pd.read_excel('data/TrilogyWords.xlsx')

In [ ]:
a

SO MANY NANS!!  and Unnamed Columns....

What's going on?  Open up the data/TrilogyWords.xlsx file to see.

In [ ]:
#pd.read_excel?

In [ ]:
a = pd.read_excel('data/TrilogyWords.xlsx',
                  skiprows=2,
                  usecols=range(4),
                  nrows=3)

In [ ]:
a

## Pandas Data Wrangling

https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

In [ ]:
pd.DataFrame.melt?

In [ ]:
a.melt(id_vars=['Unnamed: 0'], 
       value_vars=['Lord of the Rings', 'Chronicles of Narnia', 'Dark Tower'])

In [ ]:
a = a.melt(id_vars=['Unnamed: 0'],
           value_vars=['Lord of the Rings', 'Chronicles of Narnia', 'Dark Tower'])

In [ ]:
a

We can further rename the columns (and again re-assign back into "a")

In [ ]:
a = a.rename(columns={'Unnamed: 0':'BookNum',
                  'variable':'TrilogyName',
                  'value':'Wordcount'})

In [ ]:
a

### Once we're done, we can make a new spreadsheet for importing to Tableau

In [ ]:
a = pd.read_excel('data/TrilogyWords.xlsx',
                  skiprows=2,
                  usecols=range(4),
                  nrows=3)

a = a.melt(id_vars=['Unnamed: 0'],
           value_vars=['Lord of the Rings', 'Chronicles of Narnia', 'Dark Tower'])

a = a.rename(columns={'Unnamed: 0':'BookNum',
                      'variable':'TrilogyName',
                      'value':'Wordcount'})

a.to_excel('mysheet.xlsx')

## Exercise

Import the data from 'data/piechart.xlsx' into a dataframe

How many NaNs are there?

Choose one method to deal with the NaN values so no NaNs are left.

Change the column names

Output the dataframe to a new spreadsheet file.