# Assignment Week02

Just as a first note, there are many helpful resources for using Pandas.  The following may be useful starters if you need a place to start, or you can review the notebooks from class, or you can google just about any topic + "pandas" to find additional help
* [10 minutes to Pandas](https://pandas.pydata.org/docs/user_guide/10min.html) (not 10 minutes really, but it is a short intro)
* [pandas.DataFrame.plot documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.html#)
* [Chart visualization user guide from Pandas](https://pandas.pydata.org/docs/user_guide/visualization.html)

## Pandas and plotting exercises

In [ ]:
# Import the pandas library

We'll be working with one of the datasets that Tableau makes available as an intro training set.  (This way we can get accustomed to analyzing it with both Python and Tableau)

In [ ]:
# Use pandas' read_excel function to import the Excel spreadsheet 
# data from 'TableauSuperstore.xls' into a dataframe variable

In [ ]:
# How many rows and columns does the dataframe have?

In [ ]:
# What are the column names of the dataframe?

In [ ]:
# What are the datatypes of each column?

In [ ]:
# Look at the first 2 rows of the dataframe

In [ ]:
# Look at the last 2 rows of the dataframe

In [ ]:
# Print out summary statistics about the dataframe

In [ ]:
# Print out the values in the 'Sales' column (it's ok if the output is abbreviated)

In [ ]:
# Make a line plot of the values in the 'Sales' column

In [ ]:
# Make a histogram of the values in the 'Sales' column

In [ ]:
# Use "loc" to print out the first 10 elements of the 'Sales' column

In [ ]:
# Use "loc" to print out the first 10 elements of 
# both the 'Sales' and 'Sub-Category' columns

In [ ]:
# Assign the dataframe values from the previous cell into a new dataframe variable
# and make a bar plot with 'Sub-Category' values along the horizontal axis
# and 'Sales' values along the vertical axis

In [ ]:
# Re-do the plot from the previous cell as a horizontal bar plot

**Make three other plots of your choosing with different features from the dataframe.**

# End